src/flows/Add_endorsements_on_license.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Add endorsement when it is created</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision3</name>
        <label>myDecision3</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_4_A1</targetReference>
            </connector>
            <label>Endorsement is not active</label>
        </rules>
    </decisions>
    <description>Runs when an endorsement is added/updated to a license. Updates the endorsement into a field on license. USED IN LICENSE CERTIFICATES</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>
IF(ISBLANK([Endorsement__c].License__c.Endorsement_Text__c) , 
[Endorsement__c].License__c.Endorsement_Text__c  +  TEXT([Endorsement__c].Endorsement_Type__c) , 

[Endorsement__c].License__c.Endorsement_Text__c  + &quot;, &quot; + TEXT([Endorsement__c].Endorsement_Type__c) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_2713057687</name>
        <dataType>String</dataType>
        <expression>
IF(ISBLANK({!myVariable_current.License__r.Endorsement_Text__c}) , 
{!myVariable_current.License__r.Endorsement_Text__c}  +  TEXT({!myVariable_current.Endorsement_Type__c}) , 

{!myVariable_current.License__r.Endorsement_Text__c}  + &quot;, &quot; + TEXT({!myVariable_current.Endorsement_Type__c}) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF( 
CONTAINS([Endorsement__c].License__c.Endorsement_Text__c , TEXT([Endorsement__c].Endorsement_Type__c ) + &quot;,&quot;), 

SUBSTITUTE([Endorsement__c].License__c.Endorsement_Text__c , TEXT([Endorsement__c].Endorsement_Type__c ) + &quot;,&quot;, &quot;&quot;), 
(
IF( 
CONTAINS([Endorsement__c].License__c.Endorsement_Text__c , &quot;, &quot; + TEXT([Endorsement__c].Endorsement_Type__c ) ), 

SUBSTITUTE([Endorsement__c].License__c.Endorsement_Text__c , &quot;, &quot; + TEXT([Endorsement__c].Endorsement_Type__c ) , &quot;&quot;), 

IF( 
CONTAINS([Endorsement__c].License__c.Endorsement_Text__c , TEXT([Endorsement__c].Endorsement_Type__c ) ), 

SUBSTITUTE([Endorsement__c].License__c.Endorsement_Text__c , TEXT([Endorsement__c].Endorsement_Type__c ) , &quot;&quot;), 

[Endorsement__c].License__c.Endorsement_Text__c
)
)
)
)
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_4_A1_5643776236</name>
        <dataType>String</dataType>
        <expression>IF( 
CONTAINS({!myVariable_current.License__r.Endorsement_Text__c} , TEXT({!myVariable_current.Endorsement_Type__c} ) + &quot;,&quot;), 

SUBSTITUTE({!myVariable_current.License__r.Endorsement_Text__c} , TEXT({!myVariable_current.Endorsement_Type__c} ) + &quot;,&quot;, &quot;&quot;), 
(
IF( 
CONTAINS({!myVariable_current.License__r.Endorsement_Text__c} , &quot;, &quot; + TEXT({!myVariable_current.Endorsement_Type__c} ) ), 

SUBSTITUTE({!myVariable_current.License__r.Endorsement_Text__c} , &quot;, &quot; + TEXT({!myVariable_current.Endorsement_Type__c} ) , &quot;&quot;), 

IF( 
CONTAINS({!myVariable_current.License__r.Endorsement_Text__c} , TEXT({!myVariable_current.Endorsement_Type__c} ) ), 

SUBSTITUTE({!myVariable_current.License__r.Endorsement_Text__c} , TEXT({!myVariable_current.Endorsement_Type__c} ) , &quot;&quot;), 

{!myVariable_current.License__r.Endorsement_Text__c}
)
)
)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue> AND(
OR(ISNEW(), ISCHANGED([Endorsement__c].Status__c)), TEXT([Endorsement__c].Status__c) = &apos;Active&apos; 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression> AND(
OR(ISNEW(), ISCHANGED({!myVariable_current.Status__c})), TEXT({!myVariable_current.Status__c}) = &apos;Active&apos; 
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
ISCHANGED([Endorsement__c].Status__c), TEXT([Endorsement__c].Status__c) != &apos;Active&apos; 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_4</name>
        <dataType>Boolean</dataType>
        <expression>AND(
ISCHANGED({!myVariable_current.Status__c}), TEXT({!myVariable_current.Status__c}) != &apos;Active&apos; 
)</expression>
    </formulas>
    <interviewLabel>Add_endorsements_on_license-7_InterviewLabel</interviewLabel>
    <label>Add endorsements on license</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Endorsement__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Endorsement__c].License</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Endorsement on license</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Endorsement Text</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Endorsement_Text__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_2713057687</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__License2__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Endorsement__c].License</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_4_A1</name>
        <label>Delete Endorsement</label>
        <locationX>400</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.License__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Endorsement Text</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Endorsement_Text__c</field>
            <value>
                <elementReference>formula_5_myRule_4_A1_5643776236</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__License2__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Endorsement__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Endorsement__c</objectType>
    </variables>
</Flow>
