src/flows/License_Expiration-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Update License Expiration Date</label>
        </rules>
    </decisions>
    <description>Update License Expiration Date</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISPICKVAL([MUSW__License2__c].Credential_Type__c , &apos;Embalmer&apos;),IF( 
AND( 
MONTH( [MUSW__License2__c].Date_of_Birth__c ) &gt;MONTH(TODAY()), 
DAY( [MUSW__License2__c].Date_of_Birth__c ) + 1 &gt; DAY(TODAY()) 
), 
DATE( YEAR(TODAY()), MONTH(  [MUSW__License2__c].Date_of_Birth__c ), DAY([MUSW__License2__c].Date_of_Birth__c)), 
DATE( YEAR(TODAY())+1, MONTH(  [MUSW__License2__c].Date_of_Birth__c ), DAY( [MUSW__License2__c].Date_of_Birth__c )) 
),IF( 
AND( 
MONTH(  [MUSW__License2__c].Date_of_Birth__c ) &gt;MONTH(TODAY()), 
DAY( [MUSW__License2__c].Date_of_Birth__c ) + 2 &gt; DAY(TODAY()) 
), 
DATE( YEAR(TODAY()), MONTH(  [MUSW__License2__c].Date_of_Birth__c ), DAY( [MUSW__License2__c].Date_of_Birth__c )), 
DATE( YEAR(TODAY())+2, MONTH(  [MUSW__License2__c].Date_of_Birth__c ), DAY( [MUSW__License2__c].Date_of_Birth__c )) 
))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5282591513</name>
        <dataType>Date</dataType>
        <expression>IF(ISPICKVAL({!myVariable_current.Credential_Type__c} , &apos;Embalmer&apos;),IF( 
AND( 
MONTH( {!myVariable_current.Date_of_Birth__c} ) &gt;MONTH(TODAY()), 
DAY( {!myVariable_current.Date_of_Birth__c} ) + 1 &gt; DAY(TODAY()) 
), 
DATE( YEAR(TODAY()), MONTH(  {!myVariable_current.Date_of_Birth__c} ), DAY({!myVariable_current.Date_of_Birth__c})), 
DATE( YEAR(TODAY())+1, MONTH(  {!myVariable_current.Date_of_Birth__c} ), DAY( {!myVariable_current.Date_of_Birth__c} )) 
),IF( 
AND( 
MONTH(  {!myVariable_current.Date_of_Birth__c} ) &gt;MONTH(TODAY()), 
DAY( {!myVariable_current.Date_of_Birth__c} ) + 2 &gt; DAY(TODAY()) 
), 
DATE( YEAR(TODAY()), MONTH(  {!myVariable_current.Date_of_Birth__c} ), DAY( {!myVariable_current.Date_of_Birth__c} )), 
DATE( YEAR(TODAY())+2, MONTH(  {!myVariable_current.Date_of_Birth__c} ), DAY( {!myVariable_current.Date_of_Birth__c} )) 
))</expression>
    </formulas>
    <formulas>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>true</expression>
    </formulas>
    <interviewLabel>License_Expiration-1_InterviewLabel</interviewLabel>
    <label>License Expiration</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>MUSW__License2__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onCreateOnly</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[MUSW__License2__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Expiration Dates</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Expiration Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5282591513</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__License2__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>MUSW__License2__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>MUSW__License2__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
