src/flows/Projectcreation.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>City</name>
        <choiceText>City</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Town</name>
        <choiceText>Town</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Village</name>
        <choiceText>Village</choiceText>
        <dataType>String</dataType>
    </choices>
    <interviewLabel>Project creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Projectcreation</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Parcel</name>
        <label>Create Parcel</label>
        <locationX>453</locationX>
        <locationY>200</locationY>
        <assignRecordIdToReference>ParcelId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Project</targetReference>
        </connector>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <stringValue>United States</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__State__c</field>
            <value>
                <stringValue>WI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Street2__c</field>
            <value>
                <elementReference>Location_Number_and_Street_of_Project</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>MUSW__Parcel__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_permit_parcel</name>
        <label>Create permit parcel</label>
        <locationX>749</locationX>
        <locationY>376</locationY>
        <connector>
            <targetReference>Update_Permit</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>ParcelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Permit2__c</field>
            <value>
                <elementReference>permitid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Site__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>MUSW__Permit_Parcel__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Project</name>
        <label>Create Project</label>
        <locationX>775</locationX>
        <locationY>172</locationY>
        <assignRecordIdToReference>ProjectId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Project_Parcel</targetReference>
        </connector>
        <inputAssignments>
            <field>County_Name__c</field>
            <value>
                <elementReference>County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Description__c</field>
            <value>
                <elementReference>Legal_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Municipality_Name__c</field>
            <value>
                <elementReference>Municipality_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Municipality_Type__c</field>
            <value>
                <elementReference>Municipality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Project2__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Project_Parcel</name>
        <label>Create Project Parcel</label>
        <locationX>502</locationX>
        <locationY>353</locationY>
        <connector>
            <targetReference>Create_permit_parcel</targetReference>
        </connector>
        <inputAssignments>
            <field>MUSW__Parcel__c</field>
            <value>
                <elementReference>ParcelId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MUSW__Project2__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Project_Parcel__c</object>
    </recordCreates>
    <recordUpdates>
        <name>Update_Permit</name>
        <label>Update Permit</label>
        <locationX>958</locationX>
        <locationY>420</locationY>
        <connector>
            <targetReference>End_of_Project_creation</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>permitid</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MUSW__Project2__c</field>
            <value>
                <elementReference>ProjectId</elementReference>
            </value>
        </inputAssignments>
        <object>MUSW__Permit2__c</object>
    </recordUpdates>
    <screens>
        <name>Create_a_project</name>
        <label>Create a project</label>
        <locationX>208</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Parcel</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Location_Number_and_Street_of_Project</name>
            <dataType>String</dataType>
            <fieldText>Location, Number and Street of Project</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Legal_Description</name>
            <fieldText>Legal Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>County</name>
            <dataType>String</dataType>
            <fieldText>County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Municipality_Name</name>
            <dataType>String</dataType>
            <fieldText>Municipality Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Municipality</name>
            <dataType>String</dataType>
            <fieldText>Municipality(Town,City or Village)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>test</name>
            <fieldText>{!permitid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>End_of_Project_creation</name>
        <label>End of Project creation</label>
        <locationX>1200</locationX>
        <locationY>568</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Finish</name>
            <fieldText>The Project record has been created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Create_a_project</startElementReference>
    <status>Draft</status>
    <variables>
        <description>ParcelId</description>
        <name>ParcelId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>permitid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>PermitRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ProjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
